.App{
    height: 100vh;
    background-color: #353839;
    color:white;
    margin:0;
    padding: 3%;

}
.AppHeader{
    display: block;
    text-align: center;
    align-items: center;
}
.AppHeader h1{
    font-weight: bolder;
    font-size: 60px;
}
.AppHeader h4{
    padding-top: 3%;
}
.Main{
    text-align: center;
    margin-top: 5%;
}

.SectionBtns{
    width:75vw;
    padding: 4% 10% 0 10%;
    display: flex;
    justify-content: space-around;
   
}