
.div{
    margin-top: 7%;
}
.div p{
    margin-top: 2%;
}
.search{
   font-size: 10px;
}
.divPesquisa{
    margin-top: 2%;
    display:flex;
    justify-content:center;
    align-items:center;

}
.pesquisaCeps{
    font-size: 20px;
    margin-right: 2%;
}