.div{
    height: 100vh;
    background-color: #353839;
    display: block;
    text-align: center;
    color:white;
    padding-top: 1%;
    justify-content: center;
}
header h1{
    font-weight: bolder;
    font-size: 35px;
}
header p{
    margin-top: 5%;
    padding:0 10%;
    max-width: 80vw;
    text-align: justify;
}
.divSessao{
    margin-top: 7%;
}
.btn{
    margin:0 2%;
    width: 12%;
    height: 27px;
    color:#353839;
    background-color: #98ff98;
    border:1px solid #98ff98;
    border-radius: 20px;
}